html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

button,
.transition-all {
  transition: all 0.2s ease-in-out;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
